@import "tailwindcss";

/* index.css */

.courgette {
    font-family: 'Courgette', cursive;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

  
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 70px;
  height: 70px;
  background: orange;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  right: -20px; /* position outside the slider container */
}

.swiper-button-prev {
  left: -20px; /* position outside the slider container */
}


